.Sidebar{
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-secondary-color);

    position: relative;
    transition: width 0.3s;
}

.collapsed{
    width: var(--sidebar-width-collapsed);
}

.switchers_bottom{
    bottom: 20px;
}