.Sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  transition: width 0.3s;
}

.switchers_bottom {
  bottom: 50px;
}

.collapseBtn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.items {
  display: flex;
  margin: 20px;
  flex-direction: column;
}

.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.link {
  opacity: 1;
  margin-left: 10px;
  transition: all ease 0.2s;
}

.icon {
  fill: var(--secondary-color);
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers_bottom {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .item {
    justify-content: center;
  }

  .link {
    margin-left: 0;
    opacity: 0;
    width: 0;
    transition: all ease 0.2s;
  }
}
