.link {
  opacity: 1;
  margin-left: 10px;
  transition: all ease 0.2s;
}

.icon {
  fill: var(--secondary-color);
}

.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.collapsed {
  .link {
    visibility: hidden;
    margin-right: 0;
    opacity: 0;
    width: 0;
    height: 0;
    transition: all ease 0.2s;
  }
}
