.InputWrapper {
  display: flex;
  gap: 16px;
}

.Input {
  flex-grow: 1;
  border-radius: var(--border-radius);
  border: 1px solid var(--inverted-bg-color);
  padding: 6px 15px;
}

.Input:focus {
  border-color: var(--secondary-color);
  outline: 0;
  box-shadow:
    rgb(17 17 26 / 5%) 0 1px 0,
    rgb(17 17 26 / 10%) 0 0 8px;
  animation: 3s infinite rainbow;
}

.readonly {
  opacity: 0.6;
  pointer-events: none;
}

@keyframes rainbow {
  0% {
    caret-color: #f498ad;
  }

  20% {
    caret-color: #ff8630;
  }

  40% {
    caret-color: #ffd829;
  }

  60% {
    caret-color: #41e847;
  }

  80% {
    caret-color: #2e9aff;
  }

  100% {
    caret-color: #f498ad;
  }
}
