.app.dark{
    --bg-color:#000053;
    --inverted-bg-color:#e8e8ea;

    --primary-color:#049604;
    --secondary-color:#04ff04;
    --inverted-primary-color:#0a30a3;
    --inverted-secondary-color:#2e6cf0;;
}