.app.dark{
    --bg-color:#000 ;
    --inverted-bg-color:#fff;

    --primary-color:#fff;
    --secondary-color:#33E0C4;
    --inverted-primary-color:#072227;
    --inverted-secondary-color:#016170;                               
}