.app.dark{
    --bg-color:#363537;
    --inverted-bg-color:#e2e2e2;

    --primary-color:#FAFAFA;
    --secondary-color:linear-gradient(#091236, #1E215D);
    --inverted-primary-color:#363537;
    --inverted-secondary-color: #1E215D; 
}