.app.light {
  --bg-color: #fff;
  --inverted-bg-color: #c9eaf8;
  --primary-color: #0e3043;
  --secondary-color: #154c65;
  --inverted-primary-color: #f1fafe;
  --inverted-secondary-color: #e3f2fb;
}
