.light {
  --bg-color: #fff;
  --inverted-bg-color: #c9eaf8;
  --primary-color: #13a180;
  --secondary-color: #006f55;
  --inverted-primary-color: #f1fafe;
  --inverted-secondary-color: #e3f2fb;

  /* Skeleton */
  --skeleton-color: #c9eaf8;
  --skeleton-shadow: #c9eaf8;

  /* Code */
  --code-bg: #f8fdff;
}
