.app.light {
  --bg-color: #e2e2e2;
  --inverted-bg-color: #363537;
  --primary-color: #363537;
  --secondary-color: linear-gradient(#39598a, #79d7ed);
  --inverted-primary-color: #fafafa;
  --inverted-secondary-color: #c3c5ff;
}
