.app.light{
    --bg-color:#fff;
    --inverted-bg-color:#000;

    --primary-color:#016170;
    --secondary-color:#072227;
    --inverted-primary-color:#fff;
    --inverted-secondary-color:#33E0C4;
}