.pink {
  --bg-color: #fbf5f4;
  --inverted-bg-color: #e1b6b1;
  --primary-color: #b75a53;
  --secondary-color: #86413a;
  --inverted-primary-color: #dbd5dc;
  --inverted-secondary-color: #faf4fb;

  /*Skeleton*/
  --skeleton-color: #b75a53;
  --skeleton-shadow: #86413a;
}
