.CommentCard {
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
}

.commentAuthor {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.comment {
  margin-top: 10px;
}
